main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.box{
    display: flex;
    align-items: start;
    padding: 50px;  
    justify-content: center;
    flex-direction: column;
    max-width: 310px;
    gap: 30px;
}

.orange{
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}

.cyan{
   background-color: hsl(184, 100%, 22%);
}

.green{
    background-color:  hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}

img{
    margin-bottom: 5px; 
}

.cars{
    color: var(--cor-titulos);
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 40px;
}


.info{
    font-family: var(--fonte-padrao);
    color: var(--cor-texto);
    font-size: var(--tamanho-fonte);
    line-height: 25px;
}

.sedans{
    width: 200px;
    text-align: left;
}

.suvs{
    width: 210px;
    text-align: left;
}

.luxury{
    width: 220px;
    text-align: left;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 140px;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid var(--cor-titulos);
    color: var(--cor-texto);
    margin-top: 50px;
    cursor: pointer; 
    font-family: var(--fonte-padrao);
    font-size: 16px;
}

.button:hover{
    background-color: transparent;
}

.b1{
    color: hsl(31, 77%, 52%);
}

.b2{
    color: hsl(184, 100%, 22%);
}

.b3{
    color: hsl(179, 100%, 13%);
}

.b1:hover{
    color: hsl(0, 0%, 100%);
}

.b2:hover{
    color: hsl(0, 0%, 100%);
}

.b3:hover{
    color: hsl(0, 0%, 100%);
}


